<section class="block  "style="height: 750px; width: auto; background-image: url(../../assets/img/homePageBanner.webp); background-repeat: no-repeat;">

  <div class="container grid grid--1x2" >
    <header class="block__header hero__content">
      <h1 class="block__heading">The Cheapest Parcel Delivery in the UK*</h1>
      <p class="hero__tagline">
        Send from Only £2.34 (£1.95 plus VAT)
      </p>
      <a href="/quotes" class="btn btn-primary btn--stretched">Get Started</a>

    </header>

  </div>
</section>



