@model List<Quote>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach(var quote in Model)
            {
        <div class="row">
            <div class="well">
                @quote.Service.Name; £ @quote.TotalPrice;
            </div>
        </div>
            }
</div>
